  .register-page h2 {
	font-weight: normal;
  }
  
  .register-input {
	margin: 32px 0;
  }
  
  .register-input label {
	font-size: 24px;
	font-weight: lighter;
  }
  
  .register-input input {
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	margin-top: 8px;
	margin-bottom: 16px;
	display: block;
	width: 100%;
	padding: 8px;
	background-color: transparent;
	border-radius: 8px;
	border: 3px solid var(--on-background);
	color: var(--on-background)
  }
  
  .register-input button {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	padding: 12px;
	border: 0;
	border-radius: 8px;
	background-color: var(--on-background);
	color: var(--background);
	cursor: pointer;
  }


